@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide{
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.page a{
    color: aliceblue;
}

.jogos{
    background-color: black;
    height: 120px;
}

.jogos a{
    color: #E9D204;
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.posicionamento-jogos{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
}

.banner_2{
    display: flex;
    height: 480px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.banner-f1{
    background-image: url(../img/banner-f1.jpg);
}

.conteudo-banner_2 h1{
    color: #E9D204;
    font-size: 50px;
    font-family: Roboto;
}

.conteudo-banner_2 p{
    color: #E9D204;
    font-size: 20px;
    font-family: Roboto;
}

.conteudo-banner_2{
    width: 780px;
    justify-content: left;
  text-justify: center;
}

.informacoes{
    width: 100%;
    height: 260px;
    background-color: #D9D9D9;
    display: flex;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-links{
   justify-content: left;
}

.conteudo-links h{
    font-family: Roboto;
    font-size: 24px;
}

.conteudo-links a{
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.conteudo-links img{
    height: 33px;
    width: 224px;
}
/*
.informacoes{
    width: 100%;
    height: 260px;
    background-color: #D9D9D9;
    display: flex;
}

.posicionamento-informacoes{
    justify-content: space-between;
   align-items: center;
} */
